.menu-tab {
  position: absolute;
  top: 50%;
  right: 8px;
  height: 6px;
  width: 6px;
  border: 3px solid transparent;
  border-top: 3px solid white;
}

.nav-back {
  position: relative;
  height: 60px;
  background-color: #1E7FC3;
  color: white;
  font-size: 14px;
  width: 100%;
  .nav {
    display: block;
    margin: 0 auto;
    ul {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      li {
        position: relative;
        float: left;
        height: 100%;
        padding: 1.2em;
        padding-left: 1em;
        padding-right: 1.4em;
        cursor: pointer;
      }
    }
  }
}
