<section class="nav">
  <div class="nav-links">
    <ul>
      <li>+ New Encounter</li>
      <li>Learn<div class="menu-tab"></div></li>
      <li>Participate<div class="menu-tab"></div></li>
      <li>Individuals<div class="menu-tab"></div></li>
      <li>Encounters<div class="menu-tab"></div></li>
      <li>Sites<div class="menu-tab"></div></li>
      <li>Search<div class="menu-tab"></div></li>
      <li>Contact Us</li>
      <li>Admin<div class="menu-tab"></div></li>
      <li><img src="../../assets/images/logout.png"></li>
    </ul>
  </div>
</section>
