.selected {
  #selected-image {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
  }
  .toolbar {
    height: 2.5em;
    width: 100%;
    display: block;
    margin: 0 auto 1em;
    background-color: #232323;
    text-align: right;
    img {
      margin: 4px;
    }
  }
}

.gallery {
  margin: 0;
  width: 100%;
  display: block;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // align-items: flex-start;
  overflow: visible;
  .thumbnail {
    position: relative;
    // transform: scale(.2);
    // flex: 1 1 48%;
    // margin-right: 2%;
    &:last-child {
      margin-right: 0;
    }
    &:focus {
      border: 3px solid blue;
    }
    img {
      // width: 100%;
    }
  }
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  .annotation {
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid blue;
  }
}
