<section class="section-wrapper">
  <div *ngFor="let encounter of encounters">
    <h1>Encounter with {{encounter.name}}</h1>
    <div class="selected">
      <img id="selected-image" src="{{encounter.mediaAssets[0].imageURL}}">
      <div class="toolbar left">
        <img src="../../assets/images/detection.png">
        <img src="../../assets/images/identification.png">
      </div>
      <div class="toolbar right">
        <img src="../../assets/images/annotate.png">
        <img src="../../assets/images/zoom.png">
        <img src="../../assets/images/gear.png">
      </div>
    </div>
    <div  class="gallery">
      <div class="thumbnail" *ngFor="let mediaAsset of encounter.mediaAssets; let i = index">
        <img class="annotatedImage" id="gallery-image-{{i}}" src="{{mediaAsset.imageURL}}" alt="">
        <div class="canvas">
          <div class="annotation"
          [style.height]="getHeight(i)"
          [style.width]="getWidth(i)"
          [style.left]="getLeft(i)"
          [style.top]="getTop(i)"
          >
          </div>
          <div class="secondary-annotation" *ngFor="let secondaryAnnotation of encounter.mediaAssets[i].secondaryAnnotations; let j = index"
          [style.height]="getSecondaryHeight(i, j)"
          [style.width]="getSecondaryWidth(i, j)"
          [style.left]="getSecondaryLeft(i, j)"
          [style.top]="getSecondaryTop(i, j)"
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
