<section class="section-wrapper">
  <div *ngFor="let encounter of encounters">
    <h1>Encounter with {{encounter.name}}</h1>
    <div class="selected">
      <img id="selected-image" src="{{encounter.mediaAssets[0].imageURL}}">
      <div class="toolbar">
        <img src="../../assets/images/annotate.png">
        <img src="../../assets/images/zoom.png">
        <img src="../../assets/images/gear.png">
      </div>
    </div>
    <div  class="gallery">
      <div class="thumbnail" *ngFor="let mediaAsset of encounter.mediaAssets">
        <img src="{{mediaAsset.imageURL}}" alt="">
        <div class="canvas">
          <div class="annotation"
            [style.height]="getHeight()"
            [style.width]="getWidth()"
            [style.left]="getLeft()"
            [style.top]="getTop()"
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
