.selected-image {
  img {
    display: block;
    margin: auto;
    width: 30vw;
    height: auto;
  }
  .toolbar {
    height: 2.5em;
    width: 30vw;
    display: block;
    margin: 0 auto;
    background-color: #232323;
  }
}

.gallery {
  display: block;
  margin: auto;
  height: 135px;
  width: 35vw;
  display: flex;
  flex-direction: row;
  align-content: center;
  overflow: scroll;
  .thumbnail {
    width: 100px;
    height: 100px;
    margin: 1em;
    border: 1px solid black;
  }
}
