<section class="section-wrapper">
  <div *ngFor="let encounter of encounters">
    <h1>Encounter with {{encounter.name}}</h1>
    <div class="selected">
      <img id="selected-image" src="{{encounter.mediaAssets[0].imageURL}}">
      <div class="toolbar left">
        <img src="../../assets/images/detection.png">
        <img src="../../assets/images/identification.png">
      </div>
      <div class="toolbar right">
        <img src="../../assets/images/annotate.png">
        <img src="../../assets/images/zoom.png">
        <img src="../../assets/images/gear.png">
      </div>
    </div>
    <div  class="gallery">
      <div *ngFor="let mediaAsset of encounter.mediaAssets" class="thumbnail">
        <img src="{{mediaAsset.imageURL}}" alt="">
        <div class="annotation">
        </div>
      </div>
    </div>
  </div>
</section>
