<app-header></app-header>
<app-nav></app-nav>
<main container>
  <app-gallery
    [encounters]="encounters"
  ></app-gallery>
  <app-location></app-location>
  <app-identity></app-identity>
  <app-contact></app-contact>
  <app-observation-attributes></app-observation-attributes>
  <app-dynamic-properties></app-dynamic-properties>
  <app-measurements></app-measurements>
  <app-tracking></app-tracking>
  <app-biological-samples></app-biological-samples>
  <app-metadata></app-metadata>
</main>
<app-footer></app-footer>
