@import "node_modules/concise.css/concise";
@import "node_modules/concise-utils/concise-utils";
@import "node_modules/concise-ui/concise-ui";

ul {
	list-style: none;
}

h1 {
	text-align: center;
	margin: 1em;
}

h4 {
	margin: 0.5em 0;
	font-weight: normal;
}

hr {
	display: block;
	margin: auto;
	width: 80%;
	border-top: 1px solid #000;
}

.section-icon {
	position: relative;
	bottom: 2px;
	right: 10px;
}

.section-wrapper {
  display: block;
  margin: auto;
  width: 80%;
  padding: 1em;
}

.media-asset {
	height: 500px;
	margin: 30px;
}
